
<% include ./comunes/header.ejs %>
<div class="container">
    <div class="row" style="padding-top: 100px">
        <div class="col-md-4">
        </div>
        <div class="col-md-6 border" id="contenido" >
            <h1 class="titulo">Registro de Producto: </h1>
            <!-- Modal Content -->
            <form action="/producto/registrar" method="post">

                <label for="nombreProducto"><b>Nombre del Producto</b></label>
                <input class="form-control"
                       id="nombre" type="text" placeholder="Ingresa el nombre del Prodcuto" name="nombre"
                       required>

                <label for="numeroProducto"><b>Numero de Prodcutos</b></label>
                <input class="form-control"
                       id="numeroProducto" type="number" placeholder="Ingresa la cantidad de Productos"
                       name="numeroProducto" required>


                <label for="descripci칩n"><b>Descripci칩n</b></label>
                <input class="form-control"
                       id="descripcion" type="text" placeholder="Ingresa la Descripcion"
                       name="descripcion" required>

                <label for="precio"><b>Precio </b></label>
                <input class="form-control"
                       id="precio" type="number" placeholder="Ingresa el precio" name="precio" required>

                <label for="fecha_captura"><b>Fecha Lanzamiento Producto</b></label>
                <input class="form-control"
                       id="fechaLanzamientoProducto"
                       type="date" max="2019-02-08"
                       placeholder="Ingresa la fecha de Lanzamiento" name="fechaLanzamientoProducto" required>

                <label for="nivel"><b>A침os Garantia</b></label>
                <input class="form-control"
                       id="aniosGarantia" type="number" placeholder="Ingresa los a침os de garantia"
                       name="aniosGarantia" required>

                <div class="form-group">
                    <label for="tienda">Tienda</label>
                    <select class="form-control"
                            name="tienda"
                            id="tienda" required>
                    </select>
                </div>

                <button style="margin-top: 20px; margin-bottom: 20px;" type="submit" class="btn btn-success btn-block">Registrar</button>

            </form>
            <a href="/" style="text-decoration: none">
                <button class="btn btn-info btn-block btn-espaciado"
                >Regresar</button>
            </a>
        </div>
        <div class="col-md-2"></div>
    </div>
    <% include ./comunes/librerias.ejs %>
    <script>
        let etiquerasSelectTiendas = document.getElementById('tienda')
        const url = 'http://localhost:3000/tienda/listar';
        $.get(
            url, // URL
            (datos) => {  // Callback
                console.log(datos)
                const arregloTiendas = datos;
                //matarHijos();
                llenarTiendas(arregloTiendas);
                console("/****************************/");
                console.log(arregloTiendas);
                console("/****************************/");
            }
        )
        function llenarTiendas(arregloTiendas) {
            arregloTiendas
                .forEach(
                    (tienda) => {
                        const nuevaOption = document.createElement('option');
                        nuevaOption.value = tienda.id;
                        nuevaOption.innerText = tienda.nombre;
                        nuevaOption.localName = 'tienda_nombre'
                        etiquerasSelectTiendas.appendChild(nuevaOption);
                    }
                )
            console.log("------------------------------------\n\n\n"+etiquerasSelectTiendas+"\n\n\n\n-------------------------")
        }
        function matarHijos() { //AKA eliminarLasOpciones
            while (etiquerasSelectTiendas.firstChild) {
                etiquerasSelectTiendas.removeChild(etiquerasSelectTiendas.firstChild);
            }
        }
    </script>
    <% include ./comunes/footer.ejs %>
