
<% include ./comunes/header.ejs %>
<div class="container">


    <div class="row" style="padding-top: 100px">
        <div class="col-md-4"></div>
        <div class="col-md-4 border " id="contenido" >
            <h1 class="titulo">Tienda Registro: </h1>
            <!-- Modal Content -->
            <form action="/tienda/registrar" method="post">


                <label for="nombre"><b>Nombre del Entrenador</b></label>
                <input class="form-control"
                       id="nombre" type="text" placeholder="Ingresa el nombre de la Tienda" name="nombre" required>

                <label for=""><b>apellido del Entrenador</b></label>
                <input class="form-control"
                       id="direccion" type="text" placeholder="Ingresa el apellido del Entrenador" name="direccion" required>

                <label for="fechaApertura"><b>Fecha Nacimiento</b></label>
                <input class="form-control"
                       id="fechaApertura" type="date" max="2019-02-08" min="1950-01-01" placeholder="Ingresa la Fecha de Apertura" name="fechaApertura" required>

                <label for="RUC"><b>Numero de Medallas</b></label>
                <input class="form-control"
                       id="RUC" type="number" placeholder="Ingresa numero de ruc" name="RUC" required>




                <button style="margin-top: 20px; margin-bottom: 20px;" type="submit" class="btn btn-success btn-block">Registrar</button>

            </form>
            <a href="/" style="text-decoration: none">
                <button class="btn btn-info btn-block btn-espaciado"
                >Regresar</button>
            </a>
        </div>
        <div class="col-md-4"><img src="/ash.png" style="position: absolute;  width: 70% " class="animated fadeInRight" alt=""></div>

    </div>
</div>
<% include ./comunes/librerias.ejs %>
<% include ./comunes/footer.ejs %>
